*

!go.mod
!go.sum
!cmd/
!configs/
!internal/
!migrations/
!web/
!build/

**/*.log
**/tmp/
**/vendor/
**/node_modules/
**/.git/
**/.idea/
**/.vscode/
**/dist/
**/*.db
**/*.sqlite
**/*.tar
**/*.gz
**/*.zip